<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      FTP服务器配置, 密码为原密码的3次Base64编码
    -->
    <add key="host" value="127.0.0.1"/>
    <add key="user" value="hwc"/>
    <add key="passwd" value="WVVoa2FrMVVTWHBPUkZVeQ=="/>
    <add key="remotePath" value="/"/>
  </appSettings>
</configuration>