<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      FTP服务器配置, 密码为明文的3次Base64编码
    -->
    <add key="host" value="127.0.0.1"/>
    <add key="user" value="hwc"/>
    <add key="passwd" value="WVVoa2FrMVVTWHBPUkZVeQ=="/>
    <add key="remotePath" value="/"/>

    <!--弹窗位置
      CurrentScreen ：默认值,展示在当前屏幕右下角
      LastScreen    ：展示在最后一个屏幕右下角
    -->
    <add key="PopPosition" value="LastScreen"/>

    <!--监听端口号-->
    <add key="SocketPort" value="55505"/>
  </appSettings>
</configuration>