<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      FTP服务器配置, 密码为原密码的3次Base64编码
    -->
    <add key="host" value="127.0.0.1"/>
    <!--<add key="host" value="192.168.43.157"/>-->
    <add key="user" value="hwc"/>
    <add key="passwd" value="WVVoa2FrMVVTWHBPUkZVeQ=="/>
    <!--<add key="user" value="FEP"/>
    <add key="passwd" value="VFZSSmVrNUVWVEk9"/>-->
    <add key="remotePath" value="/"/>

    <!--弹窗位置
      CurrentScreen ：默认值,展示在当前屏幕右下角
      LastScreen    ：展示在最后一个屏幕右下角
    -->
    <add key="PopPosition" value="current"/>
  </appSettings>
</configuration>